{% extends "base.html" %}

{% block container %}

<div class="row">
    <h2>Registration Page</h2>
    <div class="col-md-12">
        <form class="form-horizontal col-md-offset-2" method="post" action="{% url 'registration:post' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputRepeatPassword" class="col-sm-2 control-label">Repeat Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputRepeatPassword" name="password_repeat" placeholder="Repeat Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-success pull-right">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}